<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.mobileprogrammingex">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name1"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MobileProgrammingEx">
        <activity android:name=".ex04.Memo3Activity"></activity>
        <activity android:name=".ex04.RecyclerView2Activity" />
        <activity android:name=".ex04.Ex04MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".ex04.RecyclerView1Activity" />
        <activity android:name=".ex03.SignupActivity" />
        <activity android:name=".ex02.E01Button" />
        <activity android:name=".ex03.MainActivity" />
        <activity
            android:name=".ex03.SpinnersActivity"
            android:label="@string/action_spinners" />
        <activity android:name=".Ex03_04" />
    </application>

</manifest>